.dashboard-view
  h1 = @client.name

  h2 servers
  - @servers.each do |server|
    .client-default-charts
      h3
        = link_to server.name,
                  dashboard_server_path(dashboard_id: @client.name, id: server.id)
      - chart = server_chart_for(server)
      div = image_tag chart.performance_summary_chart

  h2 applications
  - @applications.each do |application|
    .client-default-charts
      h3
        = link_to application.name,
                  dashboard_application_path(dashboard_id: @client.name, id: application.id)
      - chart = application_chart_for(application)
      div = image_tag chart.rpm_chart

  h2 keepalives
  - @keepalives.each do |keepalive|
    .client-default-charts
      h3
        = link_to keepalive.name,
                  dashboard_keepalife_path(dashboard_id: @client.name, id: keepalive.id)
      - chart = keepalive_chart_for(keepalive)
      div = image_tag chart.load_time_chart
