.dashboard-view
  h1 = @client.name

  h2 = @application.name
  .client-default-charts
    div = image_tag @chart.rpm_chart
    div = image_tag @chart.throughput_chart
    div = image_tag @chart.instances_chart
    div = image_tag @chart.error_chart
    div = image_tag @chart.apdex_chart
