.dashboard-view
  h1 = @client.name

  h2 = @server.name
  .client-default-charts
    div = image_tag @chart.cpu_chart
    div = image_tag @chart.memory_chart
    div = image_tag @chart.memory_absolute_chart
    div = image_tag @chart.disk_io_chart
    div = image_tag @chart.disk_chart
    div = image_tag @chart.disk_absolute_chart
