.dashboard-view
  h1 = @client.name

  h2 = @keepalive.name
  .client-default-charts
    div = image_tag @chart.availability_chart
    div = image_tag @chart.performance_chart
    div = image_tag @chart.secondary_performance_chart
