doctype html
html
  head
    title balcones
    meta charset="UTF-8"
    meta name="author" content="vengadores"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = yield
